#product_card{
    border: none;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
#search{
    width: 600px;
}

#card-image{
    width: 100%;
    margin: auto;
}

#search_items {
    max-height: 400px;
    overflow-y: scroll;
    min-width: 600px;
    max-width: 600px;
    overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

